<%- include("documentHead") -%>

<form action="/game" method="post" class="container more-padding fit-content">
    <div class="fit-content row delimit">
        <div id="game" class="fit-content mb-4 col-md-6">
        </div>
        <div class="fit-content mb-4 col-sm-6">
            <button class="btn btn-lg btn-outline-primary" type="submit">Submit</button>
        </div>
    </div>
</form>

<%- include("documentTail") -%>