<%-include("documentHead")-%>
    <div class="container fit-content flex-vertical align-vertical-center">
        <div id="title" class="container fit-content mt-4 mb-4">
            <h1 class="h1 mb-4">Welcome to the game !</h1>
            <img id="sudoku-icon" src="images/sudoku.png" alt="sudoku-icon">
        </div>

        <div class="container fit-content flex-vertical mb-4">
            <button class="btn btn-md btn-outline-primary mb-3" type="button" name="startGame">Resume Game</button>
            <button class="btn btn-md btn-outline-primary mb-3" type="button" name="resumeGame">New Game</button>
            <button class="btn btn-md btn-outline-primary mb-3" type="button" name="signingStatus">Best scores</button>
            <button class="btn btn-md btn-outline-primary mb-3" type="button" name="settings">Settings</button>
            <button class="btn btn-md btn-outline-primary mb-3" type="button" name="Help">Help</button>
        </div>
    </div>


<%-include("documentTail")-%>